/* https://mattbrictson.com/blog/css-normalize-and-reset#my-recommendation */

/* :root font added: 
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  https://css-tricks.com/snippets/css/system-font-stack/
 */

/* Personal changes
    :root - box-sizing: border-box;
    input - appearance: none;
    body - margin: 0;
*/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

:root {
  line-height: 1.5;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* NEW CSS */

body {
  background-color: rgb(48, 48, 48);
  color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.page-title {
  font-size: 2rem;
  padding: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

#add-book {
  margin-bottom: 10px;
}

td button {
  width: 100px;
}

button {
  width: 100px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: rgb(15, 15, 15);
  color: rgb(230, 230, 230);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.144);
  font-weight: bold;
  cursor: pointer;
}

table {
  font-size: 1.25rem;
  border-collapse: collapse;
  margin: 0.5rem;
}

.header-title, 
.header-author, 
.header-pages, 
.header-pages {
  width: 150px;
}

.header-remove, .header-change {
  width: 100px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

.index, .pages, .remove, .change {
  text-align: center;
}

dialog {
  font-size: 1.5rem;
}

